@import '../../../shared/styles/constants';

.auth_root {
    display: flex;
    justify-content: center;
    padding-top: 20px;

    @media (min-width: $size-tablet) {
        padding-top: 50px;
    }

    @media (min-width: $size-desktop) {
        padding-top: 75px;
    }
}
