@import './constants';

body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
        'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-height: 100vh;
    background: $gray-100;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.global__container {
    @media (min-width: $size-tablet) {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    @media (min-width: $size-desktop) {
        margin: 0 auto;
        max-width: $size-desktop;
    }
}
