@import '../../../../shared/styles/constants';

.auth_form__root {
    padding: 20px;
    border: 1px solid $gray-100;
    background-color: white;

    min-width: 320px;
    max-width: 400px;

    @media (min-width: $size-tablet) {
        padding: 40px;
        margin: 20px auto;
        box-shadow: 1px 1px 0 1px rgba(108, 108, 108, 0.3);
    }

    & > *:not(:last-child) {
        margin-bottom: 15px;
    }

    .auth_form__error {
        font-size: 13px;
        color: $red-700;
        margin-top: 3px;
    }

    .auth_form__link {
        font-size: 15px;
        text-align: center;
    }
}
