@import '../../../../styles/constants';

.auth_form__root {
    padding: 20px;
    background-color: $gray-100;
    border-radius: 3px;

    min-width: 320px;
    max-width: 400px;

    @media (min-width: $size-tablet) {
        padding: 40px;
        margin: 20px auto;
        box-shadow: 0 2px 4px rgba(108, 108, 108, 0.2);
    }
}

.auth_form__root > *:not(:last-child) {
    margin-bottom: 15px;

    @media (min-width: $size-tablet) {
        margin-bottom: 20px;
    }
}
